.reveal {
  background-color: #fcf9f2;
}

.reveal p{
  font-family: 'Arial', sans-serif;
  color: #231f20;
}

.reveal h2 {
  color: #603620;
  font-weight: bold;
}

.reveal h1 {
  color: #b56b37;
  font-weight: bold;
}

.reveal h4 {
  color: #43703d;
  font-weight: bold;
}
